.Item {
    height: 17rem;
    width: 70vw;
    font-family: 'open-sans', sans-serif;
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content 1fr 1fr 1fr max-content 1fr;
    align-items: center;
    justify-items: center;  
    margin-top: 2rem;
}


@media screen and (max-width: 1250px) {
    .Item {
      width: 80vw;
    }
}

@media screen and (max-width: 970px) {
    .Item {
      width: 90vw;
    }
}



.ImgContainer {
    width: 9rem;
    height: 9rem;
}


.Img {
    width: 100%;
    object-fit: cover;
}

.Title {
    justify-self: start;
    width: 100%;
    padding-left: 5rem;

}



.Price {

}



.Control {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.Button {
    width: 2rem;
    height: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.Count {
    width: 5rem;
    height:4rem;
    background: #E5DCDC;
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
    margin-left: 1rem;
}

.ButtonDec {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(185, 169, 169);
}

.ButtonInc {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-primary);
    color: var(--color-white);
}


.RemoveButton {
    cursor: pointer;
    fill: #E5DCDC;
}


@media screen and (max-width: 826px) {
    .Item {
        grid-template-columns: repeat(3, 1fr) ;
        margin: 2rem 0;
        border-bottom: 1px solid var(--color-primary);

        
    }

    .ImgContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .Title {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 0;
        margin-top: 3rem;
        text-align: center;
    }


    .Price {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .Total {
        grid-column: 3 /4;
        grid-row: 1 / 2;
    }

    .Control {
        grid-column: 2/ 3;
        grid-row: 2 / 3;
    }

    .Remove {
        grid-column: 3 /4;
        grid-row: 2 / 3;
    }

}