.Item {
    height: 17rem;
    font-family: 'open-sans', sans-serif;
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content 1fr 1fr 1fr max-content 1fr;
    align-items: center;
    justify-items: center;  
    margin-top: 2rem;
}

.ImgContainer {
    width: 10rem;
    height: 10rem;
}


.Img {
    width: 100%;
    object-fit: cover;
}

.Title {
    justify-self: start;
    width: 100%;
    padding-left: 5rem;
}



.Price {
    
}



.Control {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}



.Button {
    width: 2rem;
    height: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.Count {
    width: 5rem;
    height:4rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
    margin-left: 1rem;
}

.ButtonDec {
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
}

.ButtonInc {
    position: absolute;
    top: 0;
    right: 0;
}


.RemoveButton {
    cursor: pointer;
}