.Item {
    display: flex;
    height: 17rem;
    align-items: center;
    justify-content: space-around;
    font-family: 'open-sans', sans-serif;
    font-size: 1.4rem;
}

.ImgContainer {
    width: 10rem;
    height: 10rem;
}


.Img {
    width: 100%;
    object-fit: cover;
}

.Price {
    
}



.Control {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}



.Button {
    width: 2rem;
    height: 50%;
    border: none;
    outline: none;
    cursor: pointer;


}

.Count {
    width: 5rem;
    height:4rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
    margin-left: 1rem;


 
}

.ButtonDec {
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
}


.ButtonInc {
    position: absolute;
    top: 0;
    right: 0;
}






.RemoveButton {

}