.Cart {
    grid-row: 2 /3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 30rem;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    min-height: calc(100vh - 8rem);
}


@media screen and (max-width: 1250px) {
    .Cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .Cart {
        min-height: 0;
        height: 100%;
    }
}

.EmptyCart {
    width: 100vw;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-3.5%);
}

@media screen and (max-width: 970px) {
    .EmptyCart {
        transform: translateX(0%);
    }
  }

.Icon div svg {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    fill: #E5DCDC;
}

.Title {
    font-size: 2.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 4rem 0;
    color: var(--color-primary);
    text-align: center;
}

@media screen and (max-width: 513px) {
    .Title {
        font-size: 2rem;
    }
}

.Text {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 4rem;
    color: var(--color-dark);
}

@media screen and (max-width: 468px) {
    .Text {
        width: 70vw;
    }
}

.Link {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--color-primary);
    font-size: 1.3rem;
    padding: 1rem 1.7rem;
    color: var(--color-primary)
}

.Link:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.List {
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 40rem);
    grid-auto-rows: 40rem;
    justify-content: center;
    grid-gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}