.Button {
    width: 8rem;
    text-decoration: none;
    padding: 1rem 0rem;
    display: inline-block; 
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;            
    border: none;
    cursor: pointer;
    background: orange;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: 'Open Sans', sans-serif;
     border-radius: 5px;
     margin: 1rem;

  
}


.Button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black,.2);
    

}