.Nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: var(--color-primary);
    align-items: center;
}

.Logo {
  width: 80%;
  object-fit: cover;

}

.List {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    width: 40%;
  

}

.Link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    display: flex;
    align-items: center;

}

.Item {
    padding: 1rem 2.5rem;   
    position: relative;   
}

.Icon {
    margin-right: 1rem;
    fill: white;
}

.Icon div svg {
    width: 2rem;
    height: 2rem;
}

.Badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 1.3rem;
    
}