.Product {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    background: yellowgreen;
}


.ImgContainer {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
}


.Img {
    width: 60%;
    object-fit: cover;
}


.Details { 
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: .5rem 1rem;


}

.Title {
    color: grey;
} 

.Subtitle {
    color: grey;
}

.Brand {
    
}

.Price {
    
}

.Button {
    width: 30%;
    text-decoration: none;
    padding: .5rem 2rem;
    display: inline-block; 
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: 2rem;            
    border: none;
    cursor: pointer;
    background: var(--color-white);
    align-self: center;
  
}


.Button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black,.2);
    

}