.Total {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    border: .5px solid rgb(212, 211, 211);
    height: 20rem;
    transform: translateY(13%);

}

.Title {
    margin-bottom: 3.4rem;
    width: 100%;
    text-align: center;
    background: var(--color-primary);
    padding: .5rem 0;
    text-transform: uppercase;
    color: var(--color-white);
}


.Details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 3.4rem;
}

.SubDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin-left: 5rem;
}

.Info {
    width: 50%;
}


.CTA {
    display: flex;
}

.CTA a {
    text-decoration: none;
}

.Button {
    margin: 0 .8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid rgb(212, 211, 211);
    padding: 1rem 1.8rem;
    background: transparent;
}


.Button:hover {
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
}

