.Items {
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .Items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }