:root {
    --default-font: sans-serif;


    --color-primary: rgb(95, 2, 80);
    --color-dark : rgb(5, 2, 20);
    --color-white: #fff;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    box-sizing: border-box;
    font-family: var(--default-font);
}

@media screen and (max-width: 731px) {
    html {
        font-size: 55%;
    }
  }