.Container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.ImgContainer {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Img {
    width: 50%;
    object-fit: cover;
}

.Details {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.Title {
    font-size: 3rem;
}

.Price {
    font-size: 2rem;
}

.InfoContainer {
    margin: 2rem 0;
}

.Cta {
    display: flex;
}

.Link {
    text-decoration: none;
}

.Button {
    padding: .8rem 1rem;
    width: 9rem;
    margin: 0 .5rem;
    border: 1px solid grey;
    outline: none;
    background: var(--color-white);
    color: grey;
}

.Button:hover {
    background: #F5670F;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

